<h1> Add a gig</h1>
<form action="/gigs/add" method="post">
  <div class="form-column">
    <div class="col">
      <input type="text" name="title" class="form-control" placeholder="title">
    </div>
    <div class="col">
      <input type="text" name="technologies" class="form-control" placeholder="technology">
    </div>
    <div class="col">
      <input type="text" name="description" class="form-control" placeholder="description">
    </div>
    <div class="col">
      <input type="text" name="budget" class="form-control" placeholder="budget">
    </div>
    <button type="submit" class="btn btn-primary">Primary</button>
  </div>
</form>