<section>
    <h1> Delete Gig by name</h1>
    <p> type in the name of the gig you want to delete</p>
    <form action="/gigs/delete" method="post"> 
        <input type="search" name="titleDelete" placeholder="delete by name...">
        <input type="submit" value="search"> 
   </form>
</section>