<section>
    <h1> Search gor gigs</h1>
    <form action="/gigs/search"> 
        <input type="search" name="term" placeholder="search away...">
        <input type="submit" value="search"></button>    
   </form>
</section>