<section>
    <h1 style="margin-left: 20px"> Update Gig by name</h1>
    <p style="margin-left: 20px"> type in the name of the gig you want to update</p>
    <form action="/gigs/update" method="POST" style="margin-left: 20px"> 
        <p> what is the title of the gig you want to update</p>
        <input type="search" name="titleOfGigToUpdate" placeholder="delete by name...">
        <p> what are you replacing the title with?</p>
        <input type="search" name="valueReplacement" placeholder="delete by name...">
        <button type="submit" class="btn btn-primary">Primary</button>
   </form>
</section>